<template name="landing">
  <div id="fb-root"></div>
  <div id="intro-screen">
    <div class="intro-screen-content">
      <div class="logo">
        <img class="ninja-logo" src="/images/ninja.png" />
        <h1 class="app-title">
          SEPTA Ninja
        </h1>
      </div>
      <ul class="slogans">
        <li>No more guessing what "minor delays" means.</li>
        <li>Get realtime updates from fellow SEPTA riders.</li>
        <li>No need to refresh, the app updates on its own.</li>
        <br>
        <li> <i class="mdi-device-access-time red-text"></i> = service delay</li>
        <li> <i class="mdi-alert-warning orange-text"></i> = station issue</li>
      </ul>

      <h1 class="transport-type">Subway</h1>
      <ul class="collapsible" data-collapsible="accordion">
        {{#each subwayLines}}
          {{> line}}
        {{/each}}
      </ul>

      <h1 class="transport-type">Regional rail</h1>
      <ul class="collapsible" data-collapsible="accordion">
        {{#each trainLines}}
          {{> line}}
        {{/each}}
      </ul>

      <div class="share-buttons">
        <!--<div class="fb-share-button" data-href="http://mbta.ninja" data-layout="button_count"></div>-->
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://septa.ninja" data-text="Check out SEPTA Ninja - Waze for Philly Transport" data-via="septa_ninja" data-hashtags="septa">Tweet</a>
      </div>
      <div class="credits">
        Created by Greg Ambrogi, John Crescenzi, Nebil Hasmi, Pat Maiden, Ben Novock, Phil Pierdomenico, Fritz Ohrenschall, and James Tyack for the Apps for Philly Transportation 2015 hackathon, heavily borrowed from and supported by <a href='http://mbta.ninja'> MBTA Ninja</a>, and with support from <a href="http://codeforphilly.org" target="_blank">Code for Philly</a>. To request more line coverage or new features, <a href="http://twitter.com/home?status=@septa_ninja " target="_blank">tweet at us</a> or <a target="_blank" href="https://github.com/patmaiden/septa-ninja">contribute on GitHub</a>.
      </div>
    </div>
  </div>
</template>
