<template name="line">
  <li class="line">
  <div class="collapsible-header"><i class="mdi-maps-directions-{{type}} subway-icon {{color}}"></i>{{line}}
  <span class="secondary-content">
    {{#if lineAlerts station}}
      <i class="mdi-alert-warning orange-text"></i>
    {{/if}}
    {{#if lineAlerts service}}
      <i class="mdi-device-access-time red-text"></i>
    {{/if}}
    {{#unless lineAlerts}}
      <i class="mdi-navigation-expand-more grey-text lighten-2"></i>
    {{/unless}}
      </span>
  </div>
    {{#each directions}}
      <div class="collapsible-body">
        <a href="{{pathFor 'line.show' line=path type=../type}}">{{direction}}
        <span class="secondary-content">
        {{#if numberReports station}}
          <i class="mdi-alert-warning orange-text"></i>
        {{/if}}
        {{#if numberReports service}}
          <i class="mdi-device-access-time red-text"></i>
        {{/if}}
        {{#unless numberReports}}
          <i class="mdi-navigation-chevron-right black-text"></i>
        {{/unless}}
        </span></a>
      </div>
    {{/each}}
  </li>
</template>
